<!-- @if (config?.lacBlAtivo) {
<div class="w-full sm:bg-none shadow-xl overflow-hidden relative landing-root" [ngStyle]="getBackgroundStyle()">

    <div class="relative z-10 p-6 text-center">

        <h1 class="text-white text-2xl font-bold drop-shadow-lg" [innerHTML]="config!.lacTxDescricao || ''">
        </h1>

        <div class="flex flex-col gap-3 mt-6">
            <button *ngFor="let b of config!.botoes"
                class="btn py-3 rounded-xl font-semibold shadow transition transform hover:scale-[1.03]"
                [ngClass]="b.bocTxAnimacao" [ngStyle]="{
                'color': b.bocTxCor,
                'background-color': b.bocTxBackgroundColor
            }" (click)="openUrl(b.bocTxUrl || '#')">
                {{ b.bocTxDescricao }}
            </button>
        </div>

    </div>
</div>
}
@else { -->

<div
    class="min-h-screen bg-black sm:bg-none bg-[url('assets/img/image.png')] text-white flex flex-col items-center justify-center p-4 space-y-4">

    <div>
        <h2 class="text-5xl font-extrabold text-center">Promoções</h2>
        <div class="flex items-center">
            <span class="text-5xl font-bold">para</span>
            <h1 class="text-5xl ml-2 font-bold text-[#ff9f11] text-center">{{ sistemaNome() }}?</h1>
        </div>
    </div>

    <div class="flex items-center gap-2">
        <p class="text-4xl font-extrabold">Entre Agora</p>
        <img class="w-20" src="assets/img/logo-whatsapp-png-transparente4.png" alt="wahtsapp">
    </div>

    <div class="flex items-center">
        <img class="w-14" src="assets/img/seta-apontando.png" alt="seta">
        <img class="w-14" src="assets/img/seta-apontando.png" alt="seta">
        <img class="w-14" src="assets/img/seta-apontando.png" alt="seta">
        <img class="w-14" src="assets/img/seta-apontando.png" alt="seta">
        <img class="w-14" src="assets/img/seta-apontando.png" alt="seta">
        <img class="w-14" src="assets/img/seta-apontando.png" alt="seta">
    </div>

    <a (click)="registarClicksParaAcessarGrupo()" [href]="usuarioSistemaDto() ? usuarioSistemaDto()?.ussTxLink : ''"
        target="_blank"
        class="animate-pulseButton bg-[#68c632] hover:bg-green-600 text-white font-semibold py-6 px-6 rounded-2xl text-center w-full max-w-sm">
        PARTICIPAR DO GRUPO NO WHATSAPP
    </a>

    <div class="flex items-center justify-center">
        <p class="text-center font-bold font-serif text-sm">Conexões Diretas Com</p>
    </div>

    <div class="text-center">
        <div class="flex flex-wrap justify-center items-center gap-4">
            <img src="assets/img/mercado.png" class="h-8 rounded-md" alt="Mercado Livre" />
            <img src="assets/img/magalu.png" class="h-8 rounded-md" alt="Magalu" />
            <img src="assets/img/amazon.png" class="h-8 rounded-md" alt="Amazon" />
            <img src="assets/img/shopee.png" class="h-8 rounded-md" alt="Shopee" />
            <img src="assets/img/boti.png" class="h-8 rounded-md" alt="O Boticário" />
            <img src="assets/img/nike.png" class="h-8 rounded-md" alt="Nike" />
            <img src="assets/img/casas.png" class="h-8 rounded-md" alt="Casas Bahia" />
        </div>
    </div>

    <footer class="text-center font-serif text-xs text-white mt-6">
        &#64;{{ sistemaInstagram() }}
    </footer>
</div>

<!-- 
<div class="bg-black text-white font-sans">

    <div class="w-full min-h-screen flex flex-col items-center relative overflow-hidden">

        <div class="absolute top-0 left-0 w-40 rotate-12 opacity-90 -translate-y-1/2">
            <img src="/assets/img/percent-top.png" alt="decoracao" />
        </div>

        <div class="absolute -top-[38px] -right-[249px] w-[34rem] opacity-90 -translate-y-1/2">
            <img src="/assets/img/borrao.png" alt="decoracao" />
        </div>


        <div class="flex px-4 flex-col items-center justify-center h-screen">
            <h2 class="text-2xl font-bold text-center">MELHORES PROMOÇÕES</h2>
            <div class="flex items-center justify-center">
                <h1 class="text-4xl ml-2 font-extrabold text-red-500 text-center">{{ sistemaNome() }}</h1>
            </div>

            <div class="mt-10">
                <img src="/assets/img/black-friday-logo.png" alt="Black Friday" class="w-56" />
            </div>

            <p class="text-center text-2xl mt-6 leading-tight">
                <span class="text-red-500 font-semibold">Descontos de verdade</span>,<br />
                poucas vagas disponíveis
            </p>

            <a (click)="registarClicksParaAcessarGrupo()"
                [href]="usuarioSistemaDto() ? usuarioSistemaDto()?.ussTxLink : ''" target="_blank" class="mt-10">
                <img src="/assets/img/cliqueaqui.png" class="w-[19rem]" />
            </a>

            <div class="mt-10 border border-white/60 px-6 py-3 rounded-md flex items-center gap-3">
                <img class="w-5" src="/assets/img/seta-para-cima.png" alt="decoracao" />
                <span class="tracking-widest text-xl font-semibold">ENTRE AGORA</span>
                <img class="w-5" src="/assets/img/seta-para-cima.png" alt="decoracao" />
            </div>
        </div>

        <div class="absolute bottom-0 left-0 w-40 -rotate-12 opacity-90 translate-y-1/2">
            <img src="/assets/img/percent-bottom.png" alt="decoracao" />
        </div>

        <div class="absolute bottom-[14px] -right-[206px] w-[34rem] opacity-90 translate-y-1/2">
            <img src="/assets/img/borrao.png" alt="decoracao" />
        </div>


    </div>
</div> -->
<!-- } -->