<header class="bg-white shadow-md rounded-b-2xl px-6 py-4">
  <div class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-4">
    <!-- Logo ou título -->
    <div class="text-2xl font-bold text-gray-800">Painel de Controle</div>

    <!-- Botões de navegação -->
    <nav class="flex gap-3">
      <button
        (click)="selecionarTab('DASHBOARD')"
        [class.bg-blue-100]="tab === 'DASHBOARD'"
        class="flex items-center gap-2 px-5 py-2 rounded-full font-semibold text-gray-700 hover:bg-blue-100 transition-all duration-300"
      >
        Dashboard
      </button>
      <button
        (click)="selecionarTab('CONFIGURACAO')"
        [class.bg-blue-100]="tab === 'CONFIGURACAO'"
        class="flex items-center gap-2 px-5 py-2 rounded-full font-semibold text-gray-700 hover:bg-blue-100 transition-all duration-300"
      >
        Configurar Links
      </button>
    </nav>
  </div>
</header>

@if (tab.match('DASHBOARD')) {
<div class="p-6 min-h-screen bg-gray-50">
  <!-- Filtros -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <div>
      <label for="data" class="block text-sm font-medium text-gray-600 mb-1">Data</label>
      <input
        type="date"
        id="data"
        [(ngModel)]="filtros.data"
        class="p-3 w-full rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 shadow-sm"
      />
    </div>
    <div>
      <label for="horaInicio" class="block text-sm font-medium text-gray-600 mb-1">Hora inicial</label>
      <input
        type="time"
        id="horaInicio"
        [(ngModel)]="filtros.horaInicio"
        class="p-3 w-full rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 shadow-sm"
      />
    </div>
    <div>
      <label for="horaFim" class="block text-sm font-medium text-gray-600 mb-1">Hora final</label>
      <input
        type="time"
        id="horaFim"
        [(ngModel)]="filtros.horaFim"
        class="p-3 w-full rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 shadow-sm"
      />
    </div>
  </div>

  <div class="flex justify-end mb-6">
    <button
      class="bg-blue-700 hover:bg-blue-800 text-white font-semibold px-6 py-2 rounded-lg transition duration-300 shadow"
      (click)="aplicarFiltros()"
    >Aplicar filtros
    </button>
  </div>

  <!-- Estatísticas principais -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
    <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
      <h3 class="text-gray-500 text-sm mb-2">Total na Página (dia)</h3>
      <p class="text-3xl font-bold text-blue-600">{{ totalPagina }}</p>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
      <h3 class="text-gray-500 text-sm mb-2">Total no Grupo (dia)</h3>
      <p class="text-3xl font-bold text-green-600">{{ totalGrupo }}</p>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
      <h3 class="text-gray-500 text-sm mb-2">Total no Intervalo</h3>
      <p class="text-3xl font-bold text-purple-600">{{ totalIntervalo }}</p>
    </div>
    
    <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
      <h3 class="text-gray-500 text-sm mb-2">Taxa de rejeição para acessar o grupo</h3>
      <p class="text-3xl font-bold text-purple-600">{{ taxaRejeicao  | number:'1.2-2' }}%</p>
    </div>
  </div>

  <!-- Gráfico -->
  <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100 mb-10">
    <h2 class="text-lg font-semibold text-gray-700 mb-4">Distribuição por Hora</h2>
    <div class="bg-gray-100 rounded p-4 text-gray-400">
      @if (chartOptions) {
        <apx-chart
          [series]="chartOptions!.series!"
          [chart]="chartOptions!.chart!"
          [dataLabels]="chartOptions!.dataLabels!"
          [plotOptions]="chartOptions.plotOptions!"
          [yaxis]="chartOptions.yaxis!"
          [xaxis]="chartOptions.xaxis!"
          [fill]="chartOptions.fill!"
          [title]="chartOptions.title!"
        ></apx-chart>
      }
    </div>
  </div>
</div>
}

@if (tab.match('CONFIGURACAO')) {
  <app-configuracao></app-configuracao>
}